extends partials/layout.pug
block content
    div 
        h1 You got it pal!, would you mind filling your login info!
        a(href='/home') 
        form(action="/login" method="post") 
            input(type="email" name="email" placeholder="Email" required)
            input(type="password" name="password" placeholder="Password" required)
            button(type="submit") Login
        div
            a(href='/register') Register
        div 
            a(href='/pug') pug
