extends partials/layout.pug
block content
    div 
        h1 You got this pal!, can you give me your info
        a(href='/home') Home 
        form(action='/register' method='post') 
            input(type="text" name="name" placeholder='Name' required)
            input(type="email" name="email" placeholder='Email' required)
            input(type="password" name="password" placeholder='Password' required)
            input(type="submit")
        div 
            a(href='/login') Login